In [50]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
document1 = "I have a pen, I have an apple, apple pen."
document2 = "I have a pen, I have pineapple, pineapple pen."
cv = CountVectorizer(lowercase=False, token_pattern='\w+', binary=True)
model = cv.fit_transform([document1, document2])
pd.DataFrame(model.toarray(), columns=cv.get_feature_names_out())

   I  a  an  apple  have  pen  pineapple
0  1  1   1      1     1    1          0
1  1  1   0      0     1    1          1

In [85]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
document1 = "I have a pen, I have an apple, apple pen."
document2 = "I have a pen, I have pineapple, pineapple pen."
cv = CountVectorizer(lowercase=False, token_pattern='\w+')
model = cv.fit_transform([document1, document2])
pd.DataFrame(model.toarray(), columns=cv.get_feature_names_out())

   I  a  an  apple  have  pen  pineapple
0  2  1   1      2     2    2          0
1  2  1   0      0     2    2          2

In [84]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
document1 = "I have a pen, I have an apple, apple pen."
document2 = "I have a pen, I have pineapple, pineapple pen."
tv = TfidfVectorizer(lowercase=False, token_pattern='\w+',
                     norm='l1', smooth_idf=False)
model = tv.fit_transform([document1, document2])
pd.DataFrame(model.toarray(), columns=cv.get_feature_names_out())

          I         a        an     apple      have       pen  pineapple
0  0.165571  0.082785  0.140168  0.280335  0.165571  0.165571   0.000000
1  0.192561  0.096281  0.000000  0.000000  0.192561  0.192561   0.326035